<h1>Editing Mechanism</h1>

<%= render 'form', mechanism: @mechanism %>

<%= link_to 'Show', edit_region_mechanism_path(@mechanism.Region, @mechanism) %> |
<%= link_to 'Back', region_mechanisms_path %>
